<head>
</head>
<body class = "user-html">
  <nav>
    <div class="nav-wrapper" style="background-color:lightblue">
      <a href="#" class="brand-logo">KUMU</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/">About Us</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <h2 class="center-align"> Welcome, <%= @user.first_name.capitalize %>! </h2>
  <div class = "classrooms">
    <h3>Classrooms:</h3><br/>
    <button class="btn btn-large blue">class1</button>
    <br/><br/>
    <button class="btn btn-large blue">class2</button>
    <br/></br>
    <button class="btn btn-large blue">class3</button><br/><br/>

    <form class = "input-field find">
      <div>
        <input type="text" id="name">
        <label class="active" for="name">join or create classroom</label>
      </div>
    </form>
  </div>
  <br/>
  <br/>
  <div style = "class = row main-content">
    <div class = "col s4 user-img">
      <div>
        <img class = "user-img" src = "https://trello-attachments.s3.amazonaws.com/59a7049acf66117e61490fb5/59a73250b78f21ff5fefa5b5/3eab3a4ab28a9ceae34644a830825b2a/Screen_Shot_2017-08-30_at_4.03.55_PM.jpg">
      </div>
    </div>
    <div class ="col s6 info-center">
      <div class = "info-box">
        <ul>
          <li class="bio"><h5>Bio: <%= @user.bio %></h5></li>
        </ul>
      </div>
    </div>
  </div>
  <br/>
  <hr class = "user-hr"/>
  <div class = "stats">
    <h4>Achievements / stats:</h4>
    <ul class = "specific-stats">
      <li class="bio">User Since: <%= @user.created_at.strftime("%B %d, %Y") %></li>
    </ul>
  </div>
  <div class ="edit-profile">
    <%= link_to "Edit Profile", "#{current_user[:id]}/edit" %>
  </div>
</body>
