<head>
</head>
<body>
  <h2 class="center-align"> Welcome, <%= @user.first_name.capitalize %>! </h2>
<div style = "position:relative; right:80%;">
  <h3>Classrooms:</h3><br/>
  <button class="btn btn-large blue">class1</button>
  <br/><br/>
  <button class="btn btn-large blue">class2</button>
  <br/></br>
  <button class="btn btn-large blue">class3</button><br/><br/>
  <form style = "width: 40%;">
    <div class="input-field">
      <input type="text" id="name">
      <label class="active" for="name">join or create classroom</label>
    </div>
  </form>
</div>
  <br/>
  <br/>
  <div style = "position:relative; bottom:325px; class = row">
    <div class = "col s4 user-img">
      <div>
        <img style = "margin: auto; width: 150%; padding: 10px; position:relative; bottom:35px;" src = "https://trello-attachments.s3.amazonaws.com/59a7049acf66117e61490fb5/59a73250b78f21ff5fefa5b5/3eab3a4ab28a9ceae34644a830825b2a/Screen_Shot_2017-08-30_at_4.03.55_PM.jpg">
      </div>
    </div>
    <div class = "col s2">
    </div>

    <div class ="col s6">
      <div>
        <ul class="collection">
          <li class="collection-item">Info 1</li>
          <li class="collection-item">Info 2</li>
          <li class="collection-item">Info 3</li>
        </ul>
      </div>
    </div>
  </div>
    <br/>
    <hr style = "width:120%; position:relative; right:50px; margin-top:10px; bottom:280px;"/>
    <h3 style = "text-align:center; position:relative; bottom:240px; ">Achievements / stats</h3>
  </body>
