<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text"><br />Inspired by the brilliance of your peers?</h1>
      <div class="row center">
      </div>
      <div class="row center">
        <a href="/users/new" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Try Kumu</a><br />

        <a href="/login" class="btn-flat">or Sign In</a>
      </div>
      <br><br>

    </div>
  </div>
  <div id="daryl" class="parallax"><img src="https://i.imgur.com/GJJSM0k.gif" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center grey-text">
            <i class="medium material-icons">group</i>
          </h2>
          <h5 class="center">Share Knowledge</h5>
          <p class="light center">There's a lot of information out there. Kumu brings you the best of it.
          </p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text">
            <i class="medium material-icons">settings</i>
          </h2>
          <h5 class="center">Conquer the Classroom</h5>
          <p class="light center">Learn from the experiences of students before you.
          </p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center purple-text">
            <i class="medium material-icons">flash_on</i>
          </h2>
          <h5 class="center">Achieve Greatness</h5>
          <p class="light center">
            The fountain of knowledge is an app.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h2 class="header col s12 center center-align black-text">Make sense of the world's information.
        </h2>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="http://i.imgur.com/UGg2QrR.jpg" alt="Unsplashed background img 2"></div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3>
          <i class="mdi-content-send brown-text"></i>
        </h3>
        <h3 class="center-align light"><strong>Kumu</strong> is Hawaiian for wisdom, teacher, the source of knowledge.</h3>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">
        </h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="http://i.imgur.com/wA0VTUL.jpg" alt="Unsplashed background img 3"></div>
</div>
<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Kumu</h5>
        <p class="black-text text-lighten-3">Changing the world, one topic at a time.
        </p>
      </div>
      <div class="col l3 s12">
        <h6 class="white-text">Popular Topics</h6>
        <ul>
          <li>
            <a class="black-text text-lighten-2" href="#!">Javascript</a>
          </li>
          <li>
            <a class="black-text text-lighten-2" href="#!">Advanced Algorithms</a>
          </li>
          <li>
            <a class="black-text text-lighten-2" href="#!">Ruby on Rails</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by Kevin, James, Ryan, and Hidaner.
    </div>
  </div>
</footer>
