<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">Inspired by the brilliance of your peers?</h1>
      <div class="row center">
      </div>
      <div class="row center">
        <a href="/login" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Try Kumu</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="http://i.imgur.com/jDeYTG6.gif" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text">
            <i class="material-icons">flash_on</i>
          </h2>
          <h5 class="center">Random title goes here</h5>
          <p class="light">Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here.
          </p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text">
            <i class="material-icons">group</i>
          </h2>
          <h5 class="center">Random title goes here</h5>
          <p class="light">Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here.
          </p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text">
            <i class="material-icons">settings</i>
          </h2>
          <h5 class="center">Random title goes here</h5>
          <p class="light">Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here.
        </h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="http://i.imgur.com/UGg2QrR.jpg" alt="Unsplashed background img 2"></div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3>
          <i class="mdi-content-send brown-text"></i>
        </h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text
          goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here.Random
          text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here.
          Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here.Random text goes here. Random text goes
          here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text
          goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here.Random text goes here. Random text goes here. Random text goes here. Random
          text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here.
          Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes
          here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text
          goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here.
        </h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="http://i.imgur.com/wA0VTUL.jpg" alt="Unsplashed background img 3"></div>
</div>
<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">Random text goes here. Random text goes here. Random text goes here. Random text goes here. Random text goes here.
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li>
            <a class="white-text" href="#!">Link 1</a>
          </li>
          <li>
            <a class="white-text" href="#!">Link 2</a>
          </li>
          <li>
            <a class="white-text" href="#!">Link 3</a>
          </li>
          <li>
            <a class="white-text" href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li>
            <a class="white-text" href="#!">Link 1</a>
          </li>
          <li>
            <a class="white-text" href="#!">Link 2</a>
          </li>
          <li>
            <a class="white-text" href="#!">Link 3</a>
          </li>
          <li>
            <a class="white-text" href="#!">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by Kevin alone
    </div>
  </div>
</footer>
