<% @posts.each do |post| %>
<div class="row card #fafafa hoverable">
  <div class="col m1 center-align">
    <button class= "waves-effect waves-green btn-flat">
        <i class= "material-icons clear">arrow_upward</i>
    </button>
  </div>
    <div class="col m11 card-content black-text">
      <h5 class="title">
      <a href="http://<%= post.url %>"> <%= post.name %></a><br>
    </h5>
      <p>
        <%= post.description %>
      </p>
    </div>
    <div class="col m1 center-align">
      <button class= "waves-effect waves-red btn-flat">
          <i class= "material-icons clear">arrow_downward</i>
      </button>
    </div>
</div>
<% end %>
