@import "materialize";
@import "materialize/extras/nouislider";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Fredericka+the+Great";

.navbar-fixed {
  position: absolute;
  z-index: 999999999;
}

.heroImage {
  background-image: url(board_logo_wide.jpg);
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  font-family: "Fredericka the Great", cursive;
  font-size: 50vw;
}

.tester2 {
  border: 2px solid red;
}

// <-- USER PROFILE PAGE -->
// .class-search {
//   width: 25%;
// }

.classrooms {
  position: relative;
  left: 3%;
}
.btn-large {
  width: 15%;
}
.find {
  width: 10%;
}
.main-content {
  position: relative;
  bottom: 325px;
}
.user-img {
  text-align: center;
  position: relative;
  bottom: 215px;
  border-radius: 50%;
}
.user-hr {
  width: 120%;
  position: relative;
  right: 50px;
  margin-top: 10px;
  bottom: 280px;
}
.stats {
  text-align: center;
  position: relative;
  bottom: 240px;
}
.info-box {
  position: relative;
  width: 30%;
}
.info-center {
  text-align: center;
  position: relative;
  left: 34.8%;
  bottom: 390px;
}
// .user-hr {
//   width: 40%;
//   position: relative;
//   text-align: center;
// }
.stats {
  text-align: center;
  position: relative;
  left: 33%;
  bottom: 1050px;
}
.bio {
  float: left;
}
.edit-profile {
  text-align: center;
  position: relative;
  right: 19%;
  bottom: 710px;
}
.specific-stats {
  position: relative;
  left: 43.5%;
  margin-top: 10px;
}
.user-html {
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  // background-image: url(chalkboard-green.jpg);
  // color: white;
}
/* Media Object */
.media {
  display: flex;
  align-items: flex-start;
}
.media-figure {
  margin-right: 1em;
}
.media-body {
  flex: 1;
  display: inline-block;
  overflow: auto;
  height: 150px;
}
/* Author Box Styles */
.author-box {
  background: #f7f7f7;
  padding: 20px;
  border-radius: 2px;
}

// <-- edit user -->

.upload {
  text-align: center;
  margin-top: 100px;
}
.actions {
  margin-top: 30px;
}
